<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.permission">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.permission.util.AndroidMPermissionActivity"
            android:exported="false"
            android:theme="@style/HalfTranslucentTheme" />
    </application>

</manifest>
